In [9]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nba_api.stats.endpoints import boxscoreadvancedv3, teamgamelog

In [10]:
# Example: Fetching all games for a particular season
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable='2021-22')
games = gamefinder.get_data_frames()[0]
game_data = games[['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL']].copy(deep=True)
home_team_data = game_data[game_data['MATCHUP'].str.contains('vs.')].copy(deep=True)
away_team_data = game_data[game_data['MATCHUP'].str.contains('@')].copy(deep=True)
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612738,BOS,Boston Celtics,0042100406,2022-06-16,BOS vs. GSW,L,239,90,...,0.917,11,30,41,27,8,8,22,16,-13.0
1,42021,1610612744,GSW,Golden State Warriors,0042100406,2022-06-16,GSW @ BOS,W,241,103,...,1.000,15,29,44,27,13,7,15,20,13.0
2,42021,1610612744,GSW,Golden State Warriors,0042100405,2022-06-13,GSW vs. BOS,W,240,104,...,0.867,4,35,39,23,9,2,6,28,10.0
3,42021,1610612738,BOS,Boston Celtics,0042100405,2022-06-13,BOS @ GSW,L,238,94,...,0.677,8,39,47,18,2,2,18,16,-10.0
4,42021,1610612744,GSW,Golden State Warriors,0042100404,2022-06-10,GSW @ BOS,W,241,107,...,0.800,16,39,55,20,10,5,16,21,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177,12021,1610612761,TOR,Toronto Raptors,0012100002,2021-10-04,TOR vs. PHI,W,241,123,...,0.667,17,40,57,33,11,9,22,25,16.0
4178,12021,1610612756,PHX,Phoenix Suns,0012100009,2021-10-04,PHX @ SAC,L,241,106,...,0.846,7,31,38,24,12,7,16,15,-11.0
4179,12021,1610612766,CHA,Charlotte Hornets,0012100006,2021-10-04,CHA @ OKC,W,240,113,...,0.667,9,45,54,25,11,10,21,24,16.0
4180,12021,1610612747,LAL,Los Angeles Lakers,0012100001,2021-10-03,LAL vs. BKN,L,241,97,...,0.688,13,28,41,17,9,6,16,30,-26.0
4181,12021,1610612751,BKN,Brooklyn Nets,0012100001,2021-10-03,BKN @ LAL,W,240,123,...,0.725,14,40,54,20,9,7,16,30,26.0

In [11]:
home_team_data.rename(columns={'TEAM_ABBREVIATION': 'H_TEAM', "WL" : "H_TEAM_WIN"}, inplace=True)
# encode win/loss as 1/0
# home_team_data['H_TEAM_WIN'] = home_team_data['H_TEAM_WIN'].replace('W', 1)
# home_team_data['H_TEAM_WIN'] = home_team_data['H_TEAM_WIN'].replace('L', 0)

home_team_data

,SEASON_ID,TEAM_ID,H_TEAM,GAME_ID,GAME_DATE,MATCHUP,H_TEAM_WIN
0,42021,1610612738,BOS,0042100406,2022-06-16,BOS vs. GSW,L
2,42021,1610612744,GSW,0042100405,2022-06-13,GSW vs. BOS,W
5,42021,1610612738,BOS,0042100404,2022-06-10,BOS vs. GSW,L
7,42021,1610612738,BOS,0042100403,2022-06-08,BOS vs. GSW,W
9,42021,1610612744,GSW,0042100402,2022-06-05,GSW vs. BOS,W
...,...,...,...,...,...,...,...
4171,12021,1610612757,POR,0012100008,2021-10-04,POR vs. GSW,L
4172,12021,1610612746,LAC,0012100010,2021-10-04,LAC vs. DEN,W
4174,12021,1610612760,OKC,0012100006,2021-10-04,OKC vs. CHA,L
4177,12021,1610612761,TOR,0012100002,2021-10-04,TOR vs. PHI,W
4180,12021,1610612747,LAL,0012100001,2021-10-03,LAL vs. BKN,L

In [12]:
away_team_data.rename(columns={'TEAM_ABBREVIATION': 'A_TEAM'}, inplace=True)
# away_team_data.drop(columns=['WL'], inplace=True)
away_team_data

     SEASON_ID     TEAM_ID A_TEAM     GAME_ID   GAME_DATE    MATCHUP WL
1        42021  1610612744    GSW  0042100406  2022-06-16  GSW @ BOS  W
3        42021  1610612738    BOS  0042100405  2022-06-13  BOS @ GSW  L
4        42021  1610612744    GSW  0042100404  2022-06-10  GSW @ BOS  W
6        42021  1610612744    GSW  0042100403  2022-06-08  GSW @ BOS  L
8        42021  1610612738    BOS  0042100402  2022-06-05  BOS @ GSW  L
...        ...         ...    ...         ...         ...        ... ..
4175     12021  1610612753    ORL  0012100003  2021-10-04  ORL @ BOS  L
4176     12021  1610612755    PHI  0012100002  2021-10-04  PHI @ TOR  L
4178     12021  1610612756    PHX  0012100009  2021-10-04  PHX @ SAC  L
4179     12021  1610612766    CHA  0012100006  2021-10-04  CHA @ OKC  W
4181     12021  1610612751    BKN  0012100001  2021-10-03  BKN @ LAL  W

[2091 rows x 7 columns]

## Filling home/away team columns

In [13]:
def season_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        season_w = past_games['WL'].value_counts()['W']
        # season_l = past_games['WL'].value_counts()['L']
        # season_w = season_w / (season_w + season_l)
    except KeyError:
        season_w = 0
    return season_w

def last10_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        last10_w = past_games['WL'].head(10).value_counts()['W']
        # last10_l = past_games['WL'].head(10).value_counts()['L']
        # last10_w = last10_w / (last10_w + last10_l)
    except KeyError:
        last10_w = 0
    return last10_w

def last5_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        last5_w = past_games['WL'].head(5).value_counts()['W']
        # last5_l = past_games['WL'].head(5).value_counts()['L']
        # last5_w = last5_w / (last5_w + last5_l)
    except KeyError:
        last5_w = 0
    return last5_w

def season_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        season_w_opp = past_games[past_mathups]['WL'].value_counts()['W']
        # season_l_opp = past_games[past_mathups]['WL'].value_counts()['L']
        # season_w_opp = season_w_opp / (season_w_opp + season_l_opp)
    except KeyError:
        season_w_opp = 0
    return season_w_opp

def last10_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        last10_w_opp = past_games[past_mathups]['WL'].head(10).value_counts()['W']
        # last10_l_opp = past_games[past_mathups]['WL'].head(10).value_counts()['L']
        # last10_w_opp = last10_w_opp / (last10_w_opp + last10_l_opp)
    except KeyError:
        last10_w_opp = 0
    return last10_w_opp

def last5_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        last5_w_opp = past_games[past_mathups]['WL'].head(5).value_counts()['W']
        # last5_l_opp = past_games[past_mathups]['WL'].head(5).value_counts()['L']
        # last5_w_opp = last5_w_opp / (last5_w_opp + last5_l_opp)
    except KeyError:
        last5_w_opp = 0
    return last5_w_opp

def avg_pts(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_pts = past_games.head(20)['PTS'].mean()
    return avg_pts

def avg_fg_pct(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_fg_pct = past_games.head(20)['FG_PCT'].mean()
    return avg_fg_pct

def avg_fga(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_fga = past_games.head(20)['FGA'].mean()
    return avg_fga

def avg_fg3m(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_fg3m = past_games.head(20)['FG3M'].mean()
    return avg_fg3m

def avg_ftm(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_ftm = past_games.head(20)['FTM'].mean()
    return avg_ftm

def avg_dreb(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_dreb = past_games.head(20)['DREB'].mean()
    return avg_dreb

def avg_oreb(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_oreb = past_games.head(20)['OREB'].mean()
    return avg_oreb

def avg_reb(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_reb = past_games.head(20)['REB'].mean()
    return avg_reb

def avg_stl(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    avg_stl = past_games.head(20)['STL'].mean()
    return avg_stl

home_team_data.rename(columns={'H_TEAM': 'TEAM'}, inplace=True)
home_team_data["H_SSN_W"] = home_team_data.apply(season_w, axis=1)
home_team_data["H_LAST10_W"] = home_team_data.apply(last10_w, axis=1)
home_team_data["H_LAST5_W"] = home_team_data.apply(last5_w, axis=1)
home_team_data["H_SEASON_W_OPP"] = home_team_data.apply(season_w_opp, axis=1)
home_team_data["H_LAST10_W_OPP"] = home_team_data.apply(last10_w_opp, axis=1)
home_team_data["H_LAST5_W_OPP"] = home_team_data.apply(last5_w_opp, axis=1)
home_team_data["H_AVG_PTS"] = home_team_data.apply(avg_pts, axis=1)
home_team_data["H_AVG_FG_PCT"] = home_team_data.apply(avg_fg_pct, axis=1)
home_team_data["H_AVG_FGA"] = home_team_data.apply(avg_fga, axis=1)
home_team_data["H_AVG_FG3M"] = home_team_data.apply(avg_fg3m, axis=1)
home_team_data["H_AVG_FTM"] = home_team_data.apply(avg_ftm, axis=1)
home_team_data["H_AVG_DREB"] = home_team_data.apply(avg_dreb, axis=1)
home_team_data["H_AVG_OREB"] = home_team_data.apply(avg_oreb, axis=1)
home_team_data["H_AVG_REB"] = home_team_data.apply(avg_reb, axis=1)
home_team_data["H_AVG_STL"] = home_team_data.apply(avg_stl, axis=1)
home_team_data.rename(columns={'TEAM': 'H_TEAM'}, inplace=True)

away_team_data.rename(columns={'A_TEAM': 'TEAM'}, inplace=True)
away_team_data["A_SSN_W"] = away_team_data.apply(season_w, axis=1)
away_team_data["A_LAST10_W"] = away_team_data.apply(last10_w, axis=1)
away_team_data["A_LAST5_W"] = away_team_data.apply(last5_w, axis=1)
away_team_data["A_SSN_W_OPP"] = away_team_data.apply(season_w_opp, axis=1)
away_team_data["A_LAST10_W_OPP"] = away_team_data.apply(last10_w_opp, axis=1)
away_team_data["A_LAST5_W_OPP"] = away_team_data.apply(last5_w_opp, axis=1)
away_team_data["A_AVG_PTS"] = away_team_data.apply(avg_pts, axis=1)
away_team_data["A_AVG_FG_PCT"] = away_team_data.apply(avg_fg_pct, axis=1)
away_team_data["A_AVG_FGA"] = away_team_data.apply(avg_fga, axis=1)
away_team_data["A_AVG_FG3M"] = away_team_data.apply(avg_fg3m, axis=1)
away_team_data["A_AVG_FTM"] = away_team_data.apply(avg_ftm, axis=1)
away_team_data["A_AVG_DREB"] = away_team_data.apply(avg_dreb, axis=1)
away_team_data["A_AVG_OREB"] = away_team_data.apply(avg_oreb, axis=1)
away_team_data["A_AVG_REB"] = away_team_data.apply(avg_reb, axis=1)
away_team_data["A_AVG_STL"] = away_team_data.apply(avg_stl, axis=1)
away_team_data.rename(columns={'TEAM': 'A_TEAM'}, inplace=True)

home_team_data

,SEASON_ID,TEAM_ID,H_TEAM,GAME_ID,GAME_DATE,MATCHUP,H_TEAM_WIN,H_SSN_W,H_LAST10_W,H_LAST5_W,...,H_LAST5_W_OPP,H_AVG_PTS,H_AVG_FG_PCT,H_AVG_FGA,H_AVG_FG3M,H_AVG_FTM,H_AVG_DREB,H_AVG_OREB,H_AVG_REB,H_AVG_STL
0,42021,1610612738,BOS,0042100406,2022-06-16,BOS vs. GSW,L,67,5,2,...,2,105.25,0.44330,81.70,14.10,18.75,35.25,8.55,43.80,5.70
2,42021,1610612744,GSW,0042100405,2022-06-13,GSW vs. BOS,W,72,7,3,...,2,112.70,0.48690,85.75,14.00,15.60,34.30,9.85,44.15,7.40
5,42021,1610612738,BOS,0042100404,2022-06-10,BOS vs. GSW,L,67,6,3,...,3,106.85,0.45365,81.65,13.95,18.90,34.25,8.60,42.85,6.20
7,42021,1610612738,BOS,0042100403,2022-06-08,BOS vs. GSW,W,66,6,3,...,2,106.80,0.45310,81.65,13.90,19.00,34.10,8.55,42.65,6.45
9,42021,1610612744,GSW,0042100402,2022-06-05,GSW vs. BOS,W,70,7,3,...,1,114.80,0.49605,85.95,13.90,16.00,34.70,9.90,44.60,6.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171,12021,1610612757,POR,0012100008,2021-10-04,POR vs. GSW,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4172,12021,1610612746,LAC,0012100010,2021-10-04,LAC vs. DEN,W,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4174,12021,1610612760,OKC,0012100006,2021-10-04,OKC vs. CHA,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4177,12021,1610612761,TOR,0012100002,2021-10-04,TOR vs. PHI,W,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4180,12021,1610612747,LAL,0012100001,2021-10-03,LAL vs. BKN,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
away_team_data

,SEASON_ID,TEAM_ID,A_TEAM,GAME_ID,GAME_DATE,MATCHUP,WL,A_SSN_W,A_LAST10_W,A_LAST5_W,...,A_LAST5_W_OPP,A_AVG_PTS,A_AVG_FG_PCT,A_AVG_FGA,A_AVG_FG3M,A_AVG_FTM,A_AVG_DREB,A_AVG_OREB,A_AVG_REB,A_AVG_STL
1,42021,1610612744,GSW,0042100406,2022-06-16,GSW @ BOS,W,73,7,3,...,3,111.75,0.48400,86.05,13.65,15.20,34.50,9.55,44.05,7.60
3,42021,1610612738,BOS,0042100405,2022-06-13,BOS @ GSW,L,67,6,3,...,3,106.00,0.44765,82.15,14.15,18.35,34.35,8.80,43.15,6.25
4,42021,1610612744,GSW,0042100404,2022-06-10,GSW @ BOS,W,71,6,2,...,2,113.75,0.49515,85.25,14.20,15.55,34.05,9.40,43.45,7.15
6,42021,1610612744,GSW,0042100403,2022-06-08,GSW @ BOS,L,71,7,3,...,2,113.75,0.49240,85.40,13.85,16.20,34.70,9.75,44.45,7.20
8,42021,1610612738,BOS,0042100402,2022-06-05,BOS @ GSW,L,66,7,4,...,2,109.35,0.46160,82.60,14.05,19.00,34.35,8.95,43.30,6.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,12021,1610612753,ORL,0012100003,2021-10-04,ORL @ BOS,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176,12021,1610612755,PHI,0012100002,2021-10-04,PHI @ TOR,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4178,12021,1610612756,PHX,0012100009,2021-10-04,PHX @ SAC,L,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4179,12021,1610612766,CHA,0012100006,2021-10-04,CHA @ OKC,W,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4181,12021,1610612751,BKN,0012100001,2021-10-03,BKN @ LAL,W,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## combining home and away team data

In [15]:
# drop useless columns
home_team_data.drop(columns=['SEASON_ID', 'TEAM_ID', 'GAME_DATE', 'MATCHUP'], inplace=True)
away_team_data.drop(columns=['SEASON_ID', 'TEAM_ID', 'GAME_DATE', 'MATCHUP', 'WL'], inplace=True)

In [16]:
# merge home and away data around game id
game_data = pd.merge(home_team_data, away_team_data, left_on='GAME_ID', right_on='GAME_ID')
# remove game id row
game_data.drop(columns=['GAME_ID'], inplace=True)

#replace NaNs with 0
game_data = game_data.fillna(0)
game_data.to_csv('game_data.csv')
game_data

,H_TEAM,H_TEAM_WIN,H_SSN_W,H_LAST10_W,H_LAST5_W,H_SEASON_W_OPP,H_LAST10_W_OPP,H_LAST5_W_OPP,H_AVG_PTS,H_AVG_FG_PCT,...,A_LAST5_W_OPP,A_AVG_PTS,A_AVG_FG_PCT,A_AVG_FGA,A_AVG_FG3M,A_AVG_FTM,A_AVG_DREB,A_AVG_OREB,A_AVG_REB,A_AVG_STL
0,BOS,L,67,5,2,3,3,2,105.25,0.44330,...,3,111.75,0.48400,86.05,13.65,15.20,34.50,9.55,44.05,7.60
1,GSW,W,72,7,3,3,3,2,112.70,0.48690,...,3,106.00,0.44765,82.15,14.15,18.35,34.35,8.80,43.15,6.25
2,BOS,L,67,6,3,3,3,3,106.85,0.45365,...,2,113.75,0.49515,85.25,14.20,15.55,34.05,9.40,43.45,7.15
3,BOS,W,66,6,3,2,2,2,106.80,0.45310,...,2,113.75,0.49240,85.40,13.85,16.20,34.70,9.75,44.45,7.20
4,GSW,W,70,7,3,1,1,1,114.80,0.49605,...,2,109.35,0.46160,82.60,14.05,19.00,34.35,8.95,43.30,6.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,POR,L,0,0,0,0,0,0,0.00,0.00000,...,0,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2087,LAC,W,0,0,0,0,0,0,0.00,0.00000,...,0,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2088,OKC,L,0,0,0,0,0,0,0.00,0.00000,...,0,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2089,TOR,W,0,0,0,0,0,0,0.00,0.00000,...,0,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2090,LAL,L,0,0,0,0,0,0,0.00,0.00000,...,0,0.00,0.00000,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Collecting Advanced Box score data

In [ ]:
boxscore_data = pd.read_csv('adv_bosxscore3.csv')

def net_rating(row):
    last10_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])].head(10)
    sum = 0
    for i in range(len(last10_games)):
        relevant_game = boxscore_data[(boxscore_data['gameId'] == last10_games.iloc[i]['GAME_ID']) & (boxscore_data['teamId'] == row['TEAM_ID'])]
        print(len(relevant_game))
        sum = sum + relevant_game['offensiveRating'] - relevant_game['defensiveRating']
        # print(type(sum))
    return sum / 10

home_team_data["NET_RATING"] = home_team_data.apply(net_rating, axis=1)

In [7]:
from nba_api.stats.endpoints import boxscoreadvancedv3
advanced_boxscore3 = pd.DataFrame()

def advanced_boxscore_applier(row, advanced_boxscore3):
    try:
        advanced_boxscore = boxscoreadvancedv3.BoxScoreAdvancedV3(game_id=row['GAME_ID'])
        advanced_boxscore = advanced_boxscore.get_data_frames()[1]
        advanced_boxscore3 = pd.concat([advanced_boxscore3, advanced_boxscore])
        return advanced_boxscore3
    except TimeoutError:
        return advanced_boxscore3
    except Exception as e:
        print(f"Failed to fetch data: {e}")
        return advanced_boxscore3

for i in range(2100, 2159):
    advanced_boxscore3 = advanced_boxscore_applier(home_team_data.iloc[i], advanced_boxscore3)
advanced_boxscore3.to_csv('2100-2149_adv_bosxscore3.csv')
advanced_boxscore3

,gameId,teamId,teamCity,teamName,teamTricode,teamSlug,minutes,estimatedOffensiveRating,offensiveRating,estimatedDefensiveRating,...,turnoverRatio,effectiveFieldGoalPercentage,trueShootingPercentage,usagePercentage,estimatedUsagePercentage,estimatedPace,pace,pacePer40,possessions,PIE
0,0012200057,1610612747,Los Angeles,Lakers,LAL,lakers,240:00,98.0,99.1,104.2,...,17.5,0.506,0.569,1.0,0.200,114.24,114.0,95.00,114.0,0.490
1,0012200057,1610612750,Minnesota,Timberwolves,MIN,timberwolves,240:00,104.2,103.5,98.0,...,10.5,0.495,0.535,1.0,0.200,114.24,114.0,95.00,114.0,0.510
0,0012200054,1610612755,Philadelphia,76ers,PHI,sixers,240:00,96.4,98.0,91.3,...,11.9,0.455,0.502,1.0,0.199,102.80,101.0,84.17,101.0,0.510
1,0012200054,1610612766,Charlotte,Hornets,CHA,hornets,240:00,91.3,93.1,96.4,...,23.8,0.525,0.541,1.0,0.198,102.80,101.0,84.17,101.0,0.490
0,0012200053,1610612754,Indiana,Pacers,IND,pacers,240:00,105.3,105.8,93.7,...,16.5,0.529,0.564,1.0,0.199,105.12,103.0,85.83,103.0,0.588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,0012200003,1610612763,Memphis,Grizzlies,MEM,grizzlies,240:00,105.1,105.9,100.8,...,21.8,0.558,0.596,1.0,0.197,101.50,101.5,84.58,101.0,0.576
0,0012200002,1610612746,LA,Clippers,LAC,clippers,240:00,115.3,117.5,78.9,...,23.3,0.591,0.631,1.0,0.198,103.78,104.0,86.67,103.0,0.796
1,0012200002,50009,Ra'anana,Maccabi Ra'anana,MRA,maccabi-ra'anana,240:00,78.9,77.1,115.3,...,16.2,0.347,0.411,1.0,0.197,103.78,104.0,86.67,105.0,0.204
0,0012200001,1610612764,Washington,Wizards,WAS,wizards,240:00,83.5,82.9,92.7,...,13.3,0.405,0.448,1.0,0.200,103.90,105.5,87.92,105.0,0.441
1,0012200001,1610612744,Golden State,Warriors,GSW,warriors,240:00,92.7,90.6,83.5,...,16.0,0.411,0.497,1.0,0.202,103.90,105.5,87.92,106.0,0.559

In [ ]:
endpoints import boxscoreadvancedv3
advanced_boxscore3 = pd.DataFrame()

def advanced_boxscore_applier(row, advanced_boxscore3):
    try:
        advanced_boxscore = boxscoreadvancedv3.BoxScoreAdvancedV3(game_id=row['GAME_ID'])
        advanced_boxscore = advanced_boxscore.get_data_frames()[1]
        advanced_boxscore3 = pd.concat([advanced_boxscore3, advanced_boxscore])
        return advanced_boxscore3
    except TimeoutError:
        return advanced_boxscore3
    except Exception as e:
        print(f"Failed to fetch data: {e}")
        return advanced_boxscore3

for i in range(2100, 2159):
    advanced_boxscore3 = advanced_boxscore_applier(home_team_data.iloc[i], advanced_boxscore3)
advanced_boxscore3.to_csv('2100-2149_adv_bosxscore3.csv')
advanced_boxscore3

In [9]:
csv_files = ['0-999_adv_bosxscore3.csv', '1000-2150_adv_bosxscore3.csv']
dataframes = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)
combined_df.to_csv('adv_bosxscore3.csv')

In [7]:
games_2024 = leaguegamefinder.LeagueGameFinder(season_nullable='2024-25')
games_2024 = games_2024.get_data_frames()[0]
games_2024

Empty DataFrame
Columns: [SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, PTS, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PLUS_MINUS]
Index: []

[0 rows x 28 columns]