In [57]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
# Example: Fetching all games for a particular season
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable='2022-23')
games = gamefinder.get_data_frames()[0]
game_data = games[['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL']].copy(deep=True)
home_team_data = game_data[game_data['MATCHUP'].str.contains('vs.')].copy(deep=True)
away_team_data = game_data[game_data['MATCHUP'].str.contains('@')].copy(deep=True)
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,240,94,...,0.565,11,46,57,21,6,7,14,13,5.0
1,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240,89,...,0.875,11,33,44,18,9,7,8,21,-5.0
2,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240,95,...,0.850,8,29,37,23,2,3,14,19,-13.0
3,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,242,108,...,0.762,5,29,34,26,11,7,6,18,13.0
4,42022,1610612743,DEN,Denver Nuggets,0042200403,2023-06-07,DEN @ MIA,W,238,109,...,0.815,13,45,58,28,3,5,13,18,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4313,12022,1610612763,MEM,Memphis Grizzlies,0012200003,2022-10-01,MEM @ MIL,W,239,107,...,0.724,10,31,41,25,13,4,22,19,5.0
4314,12022,1610612746,LAC,LA Clippers,0012200002,2022-09-30,LAC vs. MRA,W,242,121,...,0.698,15,40,55,27,9,6,23,23,44.2
4315,12022,1610612764,WAS,Washington Wizards,0012200001,2022-09-30,WAS vs. GSW,L,240,87,...,0.633,7,37,44,20,12,10,14,27,-9.0
4316,12022,50009,MRA,Ra'anana Maccabi Ra'anana,0012200002,2022-09-30,MRA @ LAC,L,240,81,...,0.710,13,25,38,16,14,5,16,34,-43.2
4317,12022,1610612744,GSW,Golden State Warriors,0012200001,2022-09-30,GSW @ WAS,W,239,96,...,0.775,10,52,62,18,6,3,17,27,9.0

In [95]:
home_team_data.rename(columns={'TEAM_ABBREVIATION': 'H_TEAM', "WL" : "H_TEAM_WIN"}, inplace=True)

# encode win/loss as 1/0
# home_team_data['H_TEAM_WIN'] = home_team_data['H_TEAM_WIN'].replace('W', 1)
# home_team_data['H_TEAM_WIN'] = home_team_data['H_TEAM_WIN'].replace('L', 0)

home_team_data

,SEASON_ID,TEAM_ID,H_TEAM,GAME_ID,GAME_DATE,MATCHUP,H_TEAM_WIN
0,42022,1610612743,DEN,0042200405,2023-06-12,DEN vs. MIA,W
2,42022,1610612748,MIA,0042200404,2023-06-09,MIA vs. DEN,L
5,42022,1610612748,MIA,0042200403,2023-06-07,MIA vs. DEN,L
7,42022,1610612743,DEN,0042200402,2023-06-04,DEN vs. MIA,L
9,42022,1610612743,DEN,0042200401,2023-06-01,DEN vs. MIA,W
...,...,...,...,...,...,...,...
4310,12022,1610612745,HOU,0012200007,2022-10-02,HOU vs. SAS,W
4311,12022,1610612738,BOS,0012200005,2022-10-02,BOS vs. CHA,W
4312,12022,1610612749,MIL,0012200003,2022-10-01,MIL vs. MEM,L
4314,12022,1610612746,LAC,0012200002,2022-09-30,LAC vs. MRA,W
4315,12022,1610612764,WAS,0012200001,2022-09-30,WAS vs. GSW,L

In [96]:
away_team_data.rename(columns={'TEAM_ABBREVIATION': 'A_TEAM'}, inplace=True)
away_team_data.drop(columns=['WL'], inplace=True)
away_team_data

     SEASON_ID     TEAM_ID A_TEAM     GAME_ID   GAME_DATE    MATCHUP
1        42022  1610612748    MIA  0042200405  2023-06-12  MIA @ DEN
3        42022  1610612743    DEN  0042200404  2023-06-09  DEN @ MIA
4        42022  1610612743    DEN  0042200403  2023-06-07  DEN @ MIA
6        42022  1610612748    MIA  0042200402  2023-06-04  MIA @ DEN
8        42022  1610612748    MIA  0042200401  2023-06-01  MIA @ DEN
...        ...         ...    ...         ...         ...        ...
4308     12022       15019    ADL  0012200008  2022-10-02  ADL @ PHX
4309     12022  1610612764    WAS  0012200004  2022-10-02  WAS @ GSW
4313     12022  1610612763    MEM  0012200003  2022-10-01  MEM @ MIL
4316     12022       50009    MRA  0012200002  2022-09-30  MRA @ LAC
4317     12022  1610612744    GSW  0012200001  2022-09-30  GSW @ WAS

[2159 rows x 6 columns]

In [99]:
from nba_api.stats.endpoints import leaguegamelog

def past_games_record(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        season_w = past_games['WL'].value_counts()['W']
    except KeyError:
        season_w = 0
    
    try:
        last10_w = past_games['WL'].head(10).value_counts()['W']
    except KeyError:
        last10_w = 0

    try:
        last5_w = past_games['WL'].head(5).value_counts()['W']
    except KeyError:    
        last5_w = 0
    
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        season_w_opp = past_games[past_mathups]['WL'].value_counts()['W']
    except KeyError:
        season_w_opp = 0

    try:
        last10_w_opp = past_games[past_mathups]['WL'].head(10).value_counts()['W']
    except KeyError:
        last10_w_opp = 0

    try:
        last5 = past_games[past_mathups]['WL'].head(5).value_counts()['W']
    except KeyError:
        last5 = 0

    return season_w, last10_w, last5_w, season_w_opp, last10_w_opp, last5
    return 0, 0, 0, 0, 0, 0

def season_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        season_w = past_games['WL'].value_counts()['W']
        # season_l = past_games['WL'].value_counts()['L']
        # season_w = season_w / (season_w + season_l)
    except KeyError:
        season_w = 0
    return season_w

def last10_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        last10_w = past_games['WL'].head(10).value_counts()['W']
        # last10_l = past_games['WL'].head(10).value_counts()['L']
        # last10_w = last10_w / (last10_w + last10_l)
    except KeyError:
        last10_w = 0
    return last10_w

def last5_w(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    try:
        last5_w = past_games['WL'].head(5).value_counts()['W']
        # last5_l = past_games['WL'].head(5).value_counts()['L']
        # last5_w = last5_w / (last5_w + last5_l)
    except KeyError:
        last5_w = 0
    return last5_w

def season_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        season_w_opp = past_games[past_mathups]['WL'].value_counts()['W']
        # season_l_opp = past_games[past_mathups]['WL'].value_counts()['L']
        # season_w_opp = season_w_opp / (season_w_opp + season_l_opp)
    except KeyError:
        season_w_opp = 0
    return season_w_opp

def last10_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        last10_w_opp = past_games[past_mathups]['WL'].head(10).value_counts()['W']
        # last10_l_opp = past_games[past_mathups]['WL'].head(10).value_counts()['L']
        # last10_w_opp = last10_w_opp / (last10_w_opp + last10_l_opp)
    except KeyError:
        last10_w_opp = 0
    return last10_w_opp

def last5_w_opp(row):
    past_games = games[(games['TEAM_ABBREVIATION'] == row['H_TEAM']) & (games['GAME_DATE'] < row['GAME_DATE'])]
    opp_team = row['MATCHUP'].split(' ')[2]
    past_mathups = past_games['MATCHUP'].str.contains(opp_team)
    try:
        last5_w_opp = past_games[past_mathups]['WL'].head(5).value_counts()['W']
        # last5_l_opp = past_games[past_mathups]['WL'].head(5).value_counts()['L']
        # last5_w_opp = last5_w_opp / (last5_w_opp + last5_l_opp)
    except KeyError:
        last5_w_opp = 0
    return last5_w_opp



home_team_data["SEASON_W"] = home_team_data.apply(season_w, axis=1)
home_team_data["LAST10_W"] = home_team_data.apply(last10_w, axis=1)
home_team_data["LAST5_W"] = home_team_data.apply(last5_w, axis=1)
home_team_data["SEASON_W_OPP"] = home_team_data.apply(season_w_opp, axis=1)
home_team_data["LAST10_W_OPP"] = home_team_data.apply(last10_w_opp, axis=1)
home_team_data["LAST5_W_OPP"] = home_team_data.apply(last5_w_opp, axis=1)
home_team_data

,SEASON_ID,TEAM_ID,H_TEAM,GAME_ID,GAME_DATE,MATCHUP,H_TEAM_WIN,SEASON_W,LAST10_W,LAST5_W,SEASON_W_OPP,LAST10_W_OPP,LAST5_W_OPP
0,42022,1610612743,DEN,0042200405,2023-06-12,DEN vs. MIA,W,71,9,4,5,5,4
2,42022,1610612748,MIA,0042200404,2023-06-09,MIA vs. DEN,L,62,5,2,1,1,1
5,42022,1610612748,MIA,0042200403,2023-06-07,MIA vs. DEN,L,62,6,2,1,1,1
7,42022,1610612743,DEN,0042200402,2023-06-04,DEN vs. MIA,L,69,8,5,3,3,3
9,42022,1610612743,DEN,0042200401,2023-06-01,DEN vs. MIA,W,68,8,5,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4310,12022,1610612745,HOU,0012200007,2022-10-02,HOU vs. SAS,W,0,0,0,0,0,0
4311,12022,1610612738,BOS,0012200005,2022-10-02,BOS vs. CHA,W,0,0,0,0,0,0
4312,12022,1610612749,MIL,0012200003,2022-10-01,MIL vs. MEM,L,0,0,0,0,0,0
4314,12022,1610612746,LAC,0012200002,2022-09-30,LAC vs. MRA,W,0,0,0,0,0,0
4315,12022,1610612764,WAS,0012200001,2022-09-30,WAS vs. GSW,L,0,0,0,0,0,0

Win/Loss record up to 2023-01-01: 26-11

/var/folders/yg/86tk2sbj33q27k386pfvdp5m0000gn/T/ipykernel_14366/1267639574.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  gamelog_data['GAME_DATE'] = pd.to_datetime(gamelog_data['GAME_DATE'])