# Getting and filtering data for each game for seasons from 2011-2022 (12 seasons)

In [48]:
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import boxscoretraditionalv2
import pandas as pd

COUNTER =  1
DIRECTION = "ASC"
LEAGUE = "00"
PLAYER_OR_TEAM = "T"
SEASON_TYPE = "Regular Season"
SORTER = "DATE"

def fetch_season_game_logs(season):
    # Create LeagueGameLog object instance for the season
    gamelog = leaguegamelog.LeagueGameLog(
    COUNTER, DIRECTION, LEAGUE, PLAYER_OR_TEAM, season, SEASON_TYPE, SORTER
)
    
    # Execute request and fetch data
    data = gamelog.get_data_frames()[0] 
    
    # Filter columns and add Home/Away column
    columns_to_keep = ["TEAM_ID","TEAM_NAME","GAME_ID","MATCHUP","WL", "GAME_DATE"]
    filtered_data = data[columns_to_keep].copy()
    filtered_data['HOME/AWAY'] = filtered_data['MATCHUP'].apply(lambda x: 0 if '@' in x else 1)
    
    return filtered_data

def fetch_multiple_seasons(start_year, end_year):
    all_seasons_data = []  # List to store data for all seasons
    
    # Loop through each season from start_year to end_year (inclusive)
    for year in range(start_year, end_year + 1):
        season = f"{year}-{str(year + 1)[-2:]}"  # Format season string (e.g., '2010-11')
        season_data = fetch_season_game_logs(season)
        all_seasons_data.append(season_data)
    
    # Concatenate all seasons' data into a single DataFrame
    combined_data = pd.concat(all_seasons_data, ignore_index=True)
    combined_data = combined_data.sort_values(by='GAME_ID', ascending=True)
    combined_data = combined_data.reset_index(drop=True)

    team_2_id = []
    team_2_name = []

    # Add new columns for team IDs and names from adjacent rows
    for i in range(len(combined_data)):
        if i % 2 == 0:  # Every even row
            team_2_id.append(combined_data.loc[i+1, 'TEAM_ID'])
            team_2_name.append(combined_data.loc[i+1, 'TEAM_NAME'])
        else:  # Every odd row
            team_2_id.append(combined_data.loc[i-1, 'TEAM_ID'])
            team_2_name.append(combined_data.loc[i-1, 'TEAM_NAME'])
    
    # Add new columns to the DataFrame
    combined_data['TEAM_2_ID'] = team_2_id
    combined_data['TEAM_2_NAME'] = team_2_name
    
    columns_order = ["GAME_ID", "GAME_DATE", "MATCHUP", "TEAM_NAME", "TEAM_ID", "TEAM_2_NAME", "TEAM_2_ID", "WL", "HOME/AWAY"]
    combined_data = combined_data[columns_order]
    
    return combined_data

print(fetch_multiple_seasons(2023,2023))

         GAME_ID   GAME_DATE      MATCHUP             TEAM_NAME     TEAM_ID  \
0     0022300001  2023-11-03    CLE @ IND   Cleveland Cavaliers  1610612739
1     0022300001  2023-11-03  IND vs. CLE        Indiana Pacers  1610612754
2     0022300002  2023-11-03  MIL vs. NYK       Milwaukee Bucks  1610612749
3     0022300002  2023-11-03    NYK @ MIL       New York Knicks  1610612752
4     0022300003  2023-11-03  MIA vs. WAS            Miami Heat  1610612748
...          ...         ...          ...                   ...         ...
2455  0022301228  2023-12-08    SAC @ PHX      Sacramento Kings  1610612758
2456  0022301229  2023-12-07  MIL vs. IND       Milwaukee Bucks  1610612749
2457  0022301229  2023-12-07    IND @ MIL        Indiana Pacers  1610612754
2458  0022301230  2023-12-07    NOP @ LAL  New Orleans Pelicans  1610612740
2459  0022301230  2023-12-07  LAL vs. NOP    Los Angeles Lakers  1610612747

               TEAM_2_NAME   TEAM_2_ID WL  HOME/AWAY
0           Indiana Pacers  1610612754  L          0
1      Cleveland Cavaliers  1610612739  W          1
2          New York Knicks  1610612752  W          1
3          Milwaukee Bucks  1610612749  L          0
4       Washington Wizards  1610612764  W          1
...                    ...         ... ..        ...
2455          Phoenix Suns  1610612756  W          0
2456        Indiana Pacers  1610612754  L          1
2457       Milwaukee Bucks  1610612749  W          0
2458    Los Angeles Lakers  1610612747  L          0
2459  New Orleans Pelicans  1610612740  W          1

[2460 rows x 9 columns]

# Aquiring Season Stats for each team

In [49]:
from api_helpers.team_stats_helpers import load_dataframe

attribute_list = ["PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","AST"]
nba_dataframe = load_dataframe(attribute_list)
nba_dataframe = nba_dataframe.drop(nba_dataframe[nba_dataframe["FGM"] == 0].index)
nba_dataframe.sort_values(by='YEAR')

nba_dataframe['YEAR'] = nba_dataframe['YEAR'].str.split('-').str[0]
nba_dataframe['YEAR'] = pd.to_numeric(nba_dataframe['YEAR'])
nba_dataframe.sort_values(by="YEAR",inplace=True)

nba_dataframe["NBA_FINALS_APPEARANCE"].fillna(0.0, inplace=True)
nba_dataframe["NBA_FINALS_APPEARANCE"].replace("FINALS APPEARANCE", 0.0, inplace=True)
nba_dataframe["NBA_FINALS_APPEARANCE"].replace("LEAGUE CHAMPION", 2, inplace=True)

nba_dataframe = nba_dataframe[nba_dataframe['YEAR'] >= 2023]
season_stat_dataframe = nba_dataframe.reset_index(drop=True)

print(nba_dataframe)

         TEAM_ID  YEAR  NBA_FINALS_APPEARANCE   FGM   FGA  FG_PCT  FG3M  FG3A  \
74    1610612737  2023                    0.0  3529  7584   0.465  1125  3092
152   1610612738  2023                    2.0  3601  7396   0.487  1351  3482
1374  1610612761  2023                    0.0  3466  7356   0.471   942  2712
1453  1610612763  2023                    0.0  3145  7230   0.435  1071  3097
1424  1610612762  2023                    0.0  3443  7371   0.467  1060  2993
1240  1610612758  2023                    0.0  3553  7455   0.477  1178  3219
1288  1610612759  2023                    0.0  3438  7436   0.462  1036  2983
1345  1610612760  2023                    0.0  3653  7324   0.499  1090  2805
643   1610612747  2023                    0.0  3580  7177   0.499   969  2572
1164  1610612757  2023                    0.0  3227  7356   0.439   939  2723
679   1610612748  2023                    0.0  3266  7022   0.465  1022  2765
567   1610612746  2023                    0.0  3473  7108   0.489  1036  2719
735   1610612749  2023                    0.0  3538  7258   0.487  1163  3122
770   1610612750  2023                    0.0  3383  6974   0.485  1037  2681
513   1610612745  2023                    0.0  3425  7459   0.459  1043  2964
818   1610612751  2023                    0.0  3334  7307   0.456  1089  3010
456   1610612744  2023                    0.0  3582  7515   0.477  1211  3191
896   1610612752  2023                    0.0  3385  7272   0.465  1083  2936
206   1610612739  2023                    0.0  3425  7148   0.479  1108  3016
378   1610612743  2023                    0.0  3610  7279   0.496   958  2560
330   1610612742  2023                    0.0  3535  7352   0.481  1197  3242
931   1610612753  2023                    0.0  3318  6964   0.476   903  2568
979   1610612754  2023                    0.0  3855  7599   0.507  1082  2891
286   1610612741  2023                    0.0  3448  7339   0.470   941  2630
1054  1610612755  2023                    0.0  3404  7331   0.464   992  2733
1592  1610612765  2023                    0.0  3353  7236   0.463   906  2602
1110  1610612756  2023                    0.0  3482  7063   0.493  1020  2671
228   1610612740  2023                    0.0  3484  7165   0.486  1023  2673
1516  1610612764  2023                    0.0  3523  7493   0.470  1015  2915
1626  1610612766  2023                    0.0  3281  7133   0.460   989  2788

      FG3_PCT   FTM   FTA  FT_PCT  OREB  DREB   AST    PTS
74      0.364  1520  1906   0.797  1024  2639  2180   9703
152     0.388  1334  1654   0.807   876  2923  2207   9887
1374    0.347  1339  1772   0.756   891  2607  2335   9213
1453    0.346  1316  1722   0.764   896  2598  2025   8677
1424    0.354  1538  1853   0.830  1002  2725  2232   9484
1240    0.366  1274  1710   0.745   888  2719  2324   9558
1288    0.347  1280  1637   0.782   849  2778  2449   9192
1345    0.389  1451  1759   0.825   722  2725  2223   9847
643     0.377  1550  1983   0.782   676  2859  2340   9679
1164    0.345  1329  1680   0.791  1036  2469  1894   8722
679     0.370  1478  1806   0.818   766  2702  2116   9032
567     0.381  1499  1817   0.825   822  2701  2097   9481
735     0.373  1517  1960   0.774   772  2850  2176   9756
770     0.387  1461  1881   0.777   770  2807  2184   9264
513     0.352  1482  1916   0.773   940  2787  2035   9375
818     0.362  1293  1711   0.756   938  2675  2102   9050
456     0.380  1282  1644   0.780   996  2834  2402   9657
896     0.369  1396  1789   0.780  1039  2665  1998   9249
206     0.367  1278  1671   0.765   807  2742  2299   9236
378     0.374  1240  1628   0.762   881  2763  2415   9418
330     0.369  1397  1842   0.758   797  2724  2106   9664
931     0.352  1519  2002   0.759   861  2608  2023   9058
979     0.374  1318  1685   0.782   827  2578  2522  10110
286     0.358  1369  1731   0.791   916  2677  2048   9206
1054    0.363  1597  1934   0.826   906  2616  2041   9397
1592    0.348  1398  1780   0.785   861  2692  2088   9010
1110    0.382  1548  1915   0.808   831  2783  2218   9532
228     0.383  1445  1873   0.771   852  2753  2210   9436
1516    0.348  1266  1657   0.764   755  2613  2288   9327
1626    0.355  1189  1512   0.786   765  2538  2033   8740

# Combining Dataframes
For each game, listing the stats of both teams for comparison

In [50]:
game_data = fetch_multiple_seasons(2023,2023)
season_team_data = season_stat_dataframe


team_1_pts = []
team_2_pts = []

 # Add new columns for team IDs and names from adjacent rows
for i in range(len(game_data)):
    team_1_pts.append(season_team_data.loc[season_team_data[season_team_data['TEAM_ID'] == game_data.loc[i, 'TEAM_ID']].index[0], 'PTS'])
    team_2_pts.append(season_team_data.loc[season_team_data[season_team_data['TEAM_ID'] == game_data.loc[i, 'TEAM_2_ID']].index[0], 'PTS'])

game_data['TEAM_1_PTS'] = team_1_pts
game_data['TEAM_2_PTS'] = team_2_pts

print(game_data)

         GAME_ID   GAME_DATE      MATCHUP             TEAM_NAME     TEAM_ID  \
0     0022300001  2023-11-03    CLE @ IND   Cleveland Cavaliers  1610612739
1     0022300001  2023-11-03  IND vs. CLE        Indiana Pacers  1610612754
2     0022300002  2023-11-03  MIL vs. NYK       Milwaukee Bucks  1610612749
3     0022300002  2023-11-03    NYK @ MIL       New York Knicks  1610612752
4     0022300003  2023-11-03  MIA vs. WAS            Miami Heat  1610612748
...          ...         ...          ...                   ...         ...
2455  0022301228  2023-12-08    SAC @ PHX      Sacramento Kings  1610612758
2456  0022301229  2023-12-07  MIL vs. IND       Milwaukee Bucks  1610612749
2457  0022301229  2023-12-07    IND @ MIL        Indiana Pacers  1610612754
2458  0022301230  2023-12-07    NOP @ LAL  New Orleans Pelicans  1610612740
2459  0022301230  2023-12-07  LAL vs. NOP    Los Angeles Lakers  1610612747

               TEAM_2_NAME   TEAM_2_ID WL  HOME/AWAY  TEAM_1_PTS  TEAM_2_PTS
0           Indiana Pacers  1610612754  L          0        9236       10110
1      Cleveland Cavaliers  1610612739  W          1       10110        9236
2          New York Knicks  1610612752  W          1        9756        9249
3          Milwaukee Bucks  1610612749  L          0        9249        9756
4       Washington Wizards  1610612764  W          1        9032        9327
...                    ...         ... ..        ...         ...         ...
2455          Phoenix Suns  1610612756  W          0        9558        9532
2456        Indiana Pacers  1610612754  L          1        9756       10110
2457       Milwaukee Bucks  1610612749  W          0       10110        9756
2458    Los Angeles Lakers  1610612747  L          0        9436        9679
2459  New Orleans Pelicans  1610612740  W          1        9679        9436

[2460 rows x 11 columns]