In [3]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
from sklearn import preprocessing as pre
import pandas as pd
import matplotlib.pyplot as plt

# DATA PREPARATION

In [4]:
from api_helpers.team_stats_helpers import load_dataframe
import pandas as pd

nba_dataframe = load_dataframe(['FGM', 'FGA', 'FG_PCT', 'FG3A', 'FTM', 'OREB', 'DREB', 'REB', 'AST','PTS'])
nba_dataframe = nba_dataframe.drop(nba_dataframe[nba_dataframe["FGA"] == 0].index)

nba_dataframe["YEAR"] = "2" + nba_dataframe["YEAR"].str.slice(0,4)
pd.DataFrame.rename(nba_dataframe, columns={"YEAR": "SEASON_ID"}, inplace=True)

nba_dataframe["NBA_FINALS_APPEARANCE"].fillna(0.0, inplace=True)
nba_dataframe["NBA_FINALS_APPEARANCE"].replace("FINALS APPEARANCE", 0, inplace=True)
nba_dataframe["NBA_FINALS_APPEARANCE"].replace("LEAGUE CHAMPION", 1, inplace=True)

dataframe_2023 = nba_dataframe[nba_dataframe['SEASON_ID'] == "22023"]
nba_dataframe = nba_dataframe[nba_dataframe['SEASON_ID'] != "22023"]
nba_dataframe = nba_dataframe.reset_index(drop=True)

/tmp/ipykernel_11889/3578733798.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba_dataframe["NBA_FINALS_APPEARANCE"].fillna(0.0, inplace=True)
/tmp/ipykernel_11889/3578733798.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nba_dataframe["NBA_FINALS_APPEARANCE"].replace("LEAGUE CHAMPION", 1, inplace=True)

In [5]:
# # best features: ['FGA', 'FG_PCT', 'FG3M', 'FTM', 'FT_PCT', 'DREB', 'REB', 'PTS']
non_int_columns = ["TEAM_ID","SEASON_ID","NBA_FINALS_APPEARANCE"]
stats_frame = nba_dataframe.drop(non_int_columns, axis=1)
nameless_dataframe_2023 = dataframe_2023.drop(non_int_columns,axis=1)

In [6]:
from scipy.spatial import distance

def closest_teams(vectors_frame, k = 1, target = dataframe_2023.sample(1)):

    vectors = np.array(vectors_frame.drop(non_int_columns,axis=1))

    distances = distance.cdist(target, vectors, "cosine")[0]
    # Sort distances (indices of closest points at the beginning)
    closest_indices = np.argsort(distances)

    # take top k closest vectors
    return vectors_frame.iloc[list(closest_indices[:k])]

In [7]:
team_1_id = 1610612740
team_2_id = 1610612763

team_1_row = dataframe_2023[dataframe_2023["TEAM_ID"] == team_1_id]
team_2_row = dataframe_2023[dataframe_2023["TEAM_ID"] == team_2_id]

similar_rows_1 = closest_teams(nba_dataframe, k=10, target=team_1_row.drop(non_int_columns,axis=1))
similar_rows_1

,TEAM_ID,SEASON_ID,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3A,FTM,OREB,DREB,REB,AST,PTS
1081,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,3578,2083,9279
122,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,3369,2045,9205
540,1610612750,22022,0.0,3515,7167,0.490,2731,1467,749,2686,3435,2145,9494
264,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,3200,1933,8284
580,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,3640,2071,9258
776,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,3177,1987,8294
143,1610612740,22022,0.0,3447,7180,0.480,2468,1585,866,2717,3583,2122,9378
266,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,3527,2368,9495
389,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,3545,1959,9314
967,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,3706,2085,9384

In [8]:
def join_teams():
    joined_list = []
    for _, row in similar_rows_1.iterrows():
        k=5
        year = row['SEASON_ID']

        # get 
        year_frame = nba_dataframe[nba_dataframe['SEASON_ID'] == year]

        similar_rows_2 = closest_teams(year_frame, k=k, target=team_2_row.drop(non_int_columns,axis=1))
        similar_rows_2 = similar_rows_2.add_suffix("_B")

        combined_row = pd.concat([row.to_frame().T] * len(similar_rows_2),axis=0)

        # Now merge the repeated_df1 with df2
        result = pd.concat([combined_row.reset_index(drop=True), similar_rows_2.reset_index(drop=True)], axis=1)

        joined_list.append(result)


    final_joined = pd.concat(joined_list, ignore_index=True)

    return final_joined

joined = join_teams()
# joined.drop(["SEASON_ID_B"],inplace=True,axis=1)
# pd.DataFrame.rename(joined, columns={"SEASON_ID_A":"SEASON_ID"},inplace=True)
joined

,TEAM_ID,SEASON_ID,NBA_FINALS_APPEARANCE,FGM,FGA,FG_PCT,FG3A,FTM,OREB,DREB,...,FGM_B,FGA_B,FG_PCT_B,FG3A_B,FTM_B,OREB_B,DREB_B,REB_B,AST_B,PTS_B
0,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
1,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
2,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
3,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
4,1610612764,22022,0.0,3456,7127,0.485,2601,1442,774,2804,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
5,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
6,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
7,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
8,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
9,1610612739,22022,0.0,3408,6984,0.488,2589,1439,795,2574,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
10,1610612750,22022,0.0,3515,7167,0.49,2731,1467,749,2686,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
11,1610612750,22022,0.0,3515,7167,0.49,2731,1467,749,2686,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
12,1610612750,22022,0.0,3515,7167,0.49,2731,1467,749,2686,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
13,1610612750,22022,0.0,3515,7167,0.49,2731,1467,749,2686,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
14,1610612750,22022,0.0,3515,7167,0.49,2731,1467,749,2686,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
15,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,...,2932,6546,0.448,2706,1265,757,2376,3133,1846,8073
16,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,...,2875,6324,0.455,2666,1146,762,2389,3151,1933,7881
17,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,...,2826,6372,0.444,2923,1189,671,2396,3067,1699,7833
18,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,...,2859,6383,0.448,2831,1252,680,2314,2994,1735,8011
19,1610612743,22020,0.0,3114,6422,0.485,2462,1129,758,2442,...,2985,6401,0.466,2618,1160,765,2421,3186,1689,8109
20,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,...,3161,7144,0.442,3017,1346,854,2661,3515,1880,8711
21,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,...,3129,7267,0.431,2838,1413,900,2625,3525,1924,8596
22,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,...,3411,7458,0.457,3386,1474,921,2700,3621,2106,9507
23,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,...,3229,7083,0.456,3170,1434,786,2660,3446,1932,8997
24,1610612751,22021,0.0,3442,7251,0.475,2602,1434,844,2796,...,3398,7338,0.463,2899,1347,925,2671,3596,2081,9140
25,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,...,2425,5586,0.434,2231,1052,715,2066,2781,1549,6687
26,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,...,2573,5762,0.447,2282,1006,680,2041,2721,1510,6945
27,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,...,2586,5865,0.441,2540,1223,675,2193,2868,1525,7248
28,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,...,2723,6067,0.449,2416,1237,661,2237,2898,1605,7488
29,1610612756,22019,0.0,3006,6429,0.468,2320,1451,712,2465,...,2943,6364,0.462,2511,1127,695,2372,3067,1713,7927
30,1610612740,22022,0.0,3447,7180,0.48,2468,1585,866,2717,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
31,1610612740,22022,0.0,3447,7180,0.48,2468,1585,866,2717,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
32,1610612740,22022,0.0,3447,7180,0.48,2468,1585,866,2717,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
33,1610612740,22022,0.0,3447,7180,0.48,2468,1585,866,2717,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
34,1610612740,22022,0.0,3447,7180,0.48,2468,1585,866,2717,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
35,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
36,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
37,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
38,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
39,1610612743,22022,1.0,3574,7088,0.504,2559,1378,828,2699,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
40,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,...,3485,7365,0.473,3099,1536,968,2794,3762,2129,9600
41,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,...,3504,7411,0.473,3306,1364,914,3074,3988,2115,9589
42,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,...,3385,7413,0.457,2669,1447,901,2751,3652,2062,9098
43,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,...,3215,6991,0.460,2852,1567,796,2533,3329,1955,8977
44,1610612746,22022,0.0,3370,7059,0.477,2735,1533,803,2742,...,3585,7551,0.475,2807,1432,988,2835,3823,2135,9587
45,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,...,3392,7524,0.451,3034,1443,955,2825,3780,2118,9294
46,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,...,3185,7238,0.440,2854,1415,936,2752,3688,1845,8778
47,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,...,3182,7122,0.447,3002,1541,832,2884,3716,1918,8927
48,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,...,3301,7358,0.449,2965,1555,900,2919,3819,1954,9204
49,1610612761,22018,1.0,3460,7305,0.474,2771,1449,786,2920,...,3451,7423,0.465,2829,1282,804,2849,3653,2155,9216

In [10]:
joined.to_csv("new_data.csv")

In [10]:
all_games_df = pd.read_csv("data/all_games.csv")

In [11]:
from api_helpers.game_stats_helpers import home_matchups
final = pd.DataFrame()
final_stats_list = []

for i in range(len(joined)):
    row = joined.iloc[i]
    
    matchups = home_matchups(all_games_df=all_games_df,team_a=int(row["TEAM_ID"]), team_b=int(row["TEAM_ID_B"]), year=int(row["SEASON_ID"]))
    
    # output data
    final = pd.concat([final, matchups],axis=0)

    if len(matchups) == 0:
        continue
    else:
        repeated_row = pd.concat([row.to_frame().T] * len(matchups),axis=0)
        final_stats_list.append(repeated_row)

# dataframe of team stats (input data)
final_stats_df = pd.concat(final_stats_list,axis=0)

In [12]:
final.to_csv("test_data.csv")
type(all_games_df["TEAM_ID_B"].iloc[0])

numpy.int64

In [14]:
final.columns

Index(['Unnamed: 0', 'SEASON_ID', 'TEAM_ID_A', 'TEAM_ABBREVIATION_A',
       'TEAM_NAME_A', 'GAME_ID', 'GAME_DATE', 'MATCHUP_A', 'WL_A', 'MIN_A',
       'PTS_A', 'FGM_A', 'FGA_A', 'FG_PCT_A', 'FG3M_A', 'FG3A_A', 'FG3_PCT_A',
       'FTM_A', 'FTA_A', 'FT_PCT_A', 'OREB_A', 'DREB_A', 'REB_A', 'AST_A',
       'STL_A', 'BLK_A', 'TOV_A', 'PF_A', 'PLUS_MINUS_A', 'TEAM_ID_B',
       'TEAM_ABBREVIATION_B', 'TEAM_NAME_B', 'MATCHUP_B', 'WL_B', 'MIN_B',
       'PTS_B', 'FGM_B', 'FGA_B', 'FG_PCT_B', 'FG3M_B', 'FG3A_B', 'FG3_PCT_B',
       'FTM_B', 'FTA_B', 'FT_PCT_B', 'OREB_B', 'DREB_B', 'REB_B', 'AST_B',
       'STL_B', 'BLK_B', 'TOV_B', 'PF_B', 'PLUS_MINUS_B'],
      dtype='object')

# Random Forest Modelling

In [13]:
# Getting input features
input_a_features = ['FG_PCT','FG3A', 'FTM', 'OREB', 'DREB', 'REB', 'AST']
input_b_features = [str(word) + "_B" for word in input_a_features]

input_features = input_a_features + input_b_features
X = final_stats_df[input_features]
X

,FG_PCT,FG3A,FTM,OREB,DREB,REB,AST,FG_PCT_B,FG3A_B,FTM_B,OREB_B,DREB_B,REB_B,AST_B
0,0.485,2601,1442,774,2804,3578,2083,0.473,3099,1536,968,2794,3762,2129
1,0.485,2601,1442,774,2804,3578,2083,0.473,3306,1364,914,3074,3988,2115
1,0.485,2601,1442,774,2804,3578,2083,0.473,3306,1364,914,3074,3988,2115
2,0.485,2601,1442,774,2804,3578,2083,0.457,2669,1447,901,2751,3652,2062
2,0.485,2601,1442,774,2804,3578,2083,0.457,2669,1447,901,2751,3652,2062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,0.474,2771,1449,786,2920,3706,2085,0.447,3002,1541,832,2884,3716,1918
48,0.474,2771,1449,786,2920,3706,2085,0.449,2965,1555,900,2919,3819,1954
48,0.474,2771,1449,786,2920,3706,2085,0.449,2965,1555,900,2919,3819,1954
49,0.474,2771,1449,786,2920,3706,2085,0.465,2829,1282,804,2849,3653,2155
49,0.474,2771,1449,786,2920,3706,2085,0.465,2829,1282,804,2849,3653,2155

In [14]:
output_a_features = ["FG_PCT_A","FG3_PCT_A","FTM_A","OREB_A","DREB_A","REB_A","AST_A"]
output_b_features = [word.replace("_A","_B") for word in output_a_features]
output_features = output_a_features + output_b_features
y = final[output_features]
y

,FG_PCT_A,FG3_PCT_A,FTM_A,OREB_A,DREB_A,REB_A,AST_A,FG_PCT_B,FG3_PCT_B,FTM_B,OREB_B,DREB_B,REB_B,AST_B
47753,0.500,0.444,17,6.0,40.0,46.0,27,0.468,0.350,10,7.0,35.0,42.0,33
47721,0.505,0.481,15,9.0,33.0,42.0,30,0.543,0.548,17,12.0,44.0,56.0,33
47730,0.426,0.258,11,20.0,36.0,56.0,21,0.470,0.449,17,7.0,38.0,45.0,30
47735,0.506,0.405,15,11.0,41.0,52.0,29,0.419,0.290,17,12.0,28.0,40.0,23
47749,0.430,0.382,13,14.0,35.0,49.0,19,0.390,0.250,16,15.0,36.0,51.0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43442,0.484,0.407,17,12.0,38.0,50.0,23,0.413,0.400,19,10.0,34.0,44.0,22
43419,0.543,0.290,18,5.0,35.0,40.0,32,0.523,0.488,13,5.0,26.0,31.0,33
43425,0.457,0.314,15,13.0,42.0,55.0,32,0.420,0.367,20,9.0,45.0,54.0,20
43415,0.489,0.472,9,8.0,37.0,45.0,33,0.384,0.200,23,10.0,37.0,47.0,24
43445,0.467,0.371,14,12.0,37.0,49.0,24,0.404,0.389,7,16.0,33.0,49.0,29

### Creating a Test Train Split

In [15]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=3)

### Implementing Random Forest Regressor

In [16]:
from sklearn.ensemble import RandomForestRegressor

rfe = RandomForestRegressor(random_state=10, n_estimators=1000)

rfe.fit(X_train,y_train)
y_pred = rfe.predict(X_test)
y_pred

array([[ 0.51814988,  0.36006645, 13.794725  , 10.945075  , 34.74644167,
        45.69151667, 29.26054167,  0.40575749,  0.24741276, 19.02954167,
        10.84059167, 23.17818333, 34.018775  , 18.79306667],
       [ 0.4572126 ,  0.31802557, 13.99808333,  6.26956667, 32.5173    ,
        38.78686667, 19.64061667,  0.40943085,  0.27333438, 21.0656    ,
         9.56595   , 29.4452    , 39.01115   , 17.24736667],
       [ 0.47203366,  0.39636956, 16.33096667, 11.85297778, 33.97944444,
        45.83242222, 26.82951111,  0.47887244,  0.33531214, 16.97690556,
        11.08633889, 34.18017222, 45.26651111, 28.19560556],
       [ 0.48649719,  0.34710795, 20.94682143, 10.13680952, 34.63811905,
        44.77492857, 26.53684524,  0.45533885,  0.32914892, 19.24490476,
         9.15536905, 33.58919048, 42.74455952, 23.31607143],
       [ 0.50813097,  0.38186037, 17.75448333,  9.64289167, 35.16599167,
        44.80888333, 28.69651667,  0.44059188,  0.33199813, 18.61043333,
        10.49784167, 29.87255   , 40.37039167, 22.51766667],
       [ 0.4766721 ,  0.27508657, 23.90261667, 10.93043333, 37.14565   ,
        48.07608333, 24.92823333,  0.44009788,  0.32071742, 10.43508333,
        12.69686667, 31.79888333, 44.49575   , 25.76188333],
       [ 0.49348988,  0.34569455, 17.12551667,  9.28076667, 33.90983333,
        43.1906    , 30.31023333,  0.4145394 ,  0.32359322, 18.71405   ,
        11.85263333, 34.57283333, 46.42546667, 18.2471    ],
       [ 0.51575655,  0.35526004, 15.42879167,  9.983     , 32.52188333,
        42.50488333, 27.35085833,  0.44907742,  0.35283788, 17.449725  ,
        10.7874    , 30.05393333, 40.84133333, 22.31896667],
       [ 0.47387532,  0.36422698, 15.17183333, 11.28828333, 36.73665   ,
        48.02493333, 24.6152    ,  0.42028012,  0.3797781 ,  9.48785   ,
        14.11503333, 33.03661667, 47.15165   , 27.56213333],
       [ 0.495482  ,  0.38415783, 15.69983333, 10.51733333, 39.788     ,
        50.30533333, 27.7725    ,  0.42938117,  0.304451  , 15.8115    ,
        11.217     , 30.128     , 41.345     , 23.78833333],
       [ 0.5053478 ,  0.38592494, 19.13484762,  9.00157857, 32.61137381,
        41.61295238, 30.69615238,  0.44436352,  0.29884972, 20.90974762,
        11.54124048, 32.95280476, 44.49404524, 19.31704762],
       [ 0.50813097,  0.38186037, 17.75448333,  9.64289167, 35.16599167,
        44.80888333, 28.69651667,  0.44059188,  0.33199813, 18.61043333,
        10.49784167, 29.87255   , 40.37039167, 22.51766667],
       [ 0.60129845,  0.45813872, 16.04415   ,  5.37076667, 38.27033333,
        43.6411    , 27.83716667,  0.4186632 ,  0.34839438, 14.97145   ,
         9.8807    , 23.76803333, 33.64873333, 22.2127    ],
       [ 0.46527637,  0.33056193, 15.88603333, 15.85393333, 36.47131667,
        52.32525   , 22.16265   ,  0.4409632 ,  0.37442213, 15.54703333,
        16.27283333, 34.7071    , 50.97993333, 32.99313333]])

In [25]:

y_pred = rfe.predict(X_test.loc[8].to_frame().T)
y_pred

array([[ 0.51814988,  0.36006645, 13.794725  , 10.945075  , 34.74644167,
        45.69151667, 29.26054167,  0.40575749,  0.24741276, 19.02954167,
        10.84059167, 23.17818333, 34.018775  , 18.79306667]])

## Evaluate Multioutput Regression

In [20]:
# evaluate multioutput regression model with k-fold cross-validation
from numpy import absolute
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold

# define model
model = RandomForestRegressor()
# define the evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force the scores to be positive
n_scores = absolute(n_scores)
# summarize performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: 3.589 (0.413)

## Creating Neural Network

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

recorded_games = all_games_df[all_games_df["WL_A"] != " "]

X_input = np.asarray(recorded_games[output_features])
y_output = recorded_games["WL_A"]

y_output.replace("L", 0, inplace=True)
y_output.replace("W", 1, inplace=True)

X_input = np.asarray(X_input).astype(np.float32)
y_output = np.asarray(y_output).astype(np.float32)

recorded_games[output_features + ["WL_A"]]

/tmp/ipykernel_305486/1318040735.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_output.replace("L", 0, inplace=True)
/tmp/ipykernel_305486/1318040735.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y_output.replace("W", 1, inplace=True)
/tmp/ipykernel_305486/1318040735.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_output.replace("W", 1, inplace=True)

,FG_PCT_A,FG3_PCT_A,FTM_A,OREB_A,DREB_A,REB_A,AST_A,FG_PCT_B,FG3_PCT_B,FTM_B,OREB_B,DREB_B,REB_B,AST_B,WL_A
0,0.524,0.450,10,7.0,31.0,38.0,35,0.506,0.389,21,5.0,28.0,33.0,25,0.0
1,0.398,0.217,11,17.0,42.0,59.0,28,0.477,0.400,15,5.0,41.0,46.0,29,0.0
2,0.544,0.342,10,6.0,42.0,48.0,36,0.457,0.333,17,8.0,29.0,37.0,24,1.0
3,0.457,0.400,15,9.0,30.0,39.0,24,0.551,0.286,28,6.0,34.0,40.0,27,0.0
4,0.490,0.341,6,17.0,36.0,53.0,24,0.479,0.389,18,9.0,34.0,43.0,28,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,0.526,0.500,21,9.0,21.0,30.0,23,0.540,NaN,26,14.0,28.0,42.0,25,0.0
52803,0.436,0.000,11,16.0,28.0,44.0,20,0.442,NaN,23,15.0,34.0,49.0,18,0.0
52804,0.413,0.500,21,21.0,24.0,45.0,25,0.517,0.333,14,16.0,30.0,46.0,22,0.0
52805,0.478,0.000,31,17.0,38.0,55.0,28,0.482,0.111,22,13.0,35.0,48.0,21,1.0
52806,0.465,NaN,13,7.0,24.0,31.0,27,0.587,0.500,24,14.0,40.0,54.0,33,0.0

## Creating Test Train Split

In [64]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X_input,y_output,test_size=0.2,random_state=3)

## Building Model

In [1]:
from tensorflow.keras.models import model_from_json

# load json and create model
json_file = open("tuned_nn.json", "r")
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("tuned.weights.h5")
print("Loaded model from disk")

# evaluate loaded model on test data
loaded_model.compile(
    loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"]
)

2024-07-12 16:08:55.190842: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-07-12 16:08:55.191308: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-07-12 16:08:55.192921: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-07-12 16:08:55.198658: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:479] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-07-12 16:08:55.209895: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:10575] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-07-12 16:08:55.209924: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1442] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-07-12 16:08:55.217204: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-07-12 16:08:55.661406: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

Loaded model from disk

2024-07-12 16:08:56.234905: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:282] failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error
2024-07-12 16:08:56.234917: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:134] retrieving CUDA diagnostic information for host: rohanbendapudi-Precision-3581
2024-07-12 16:08:56.234920: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:141] hostname: rohanbendapudi-Precision-3581
2024-07-12 16:08:56.234972: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:165] libcuda reported version is: 535.183.1
2024-07-12 16:08:56.234979: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:169] kernel reported version is: 535.183.1
2024-07-12 16:08:56.234980: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:248] kernel version seems to match DSO: 535.183.1

In [3]:
predictions = loaded_model.predict()

print("Test loss:", predictions[0])
print("Test accuracy:", predictions[1])

NameError: name 'X_test' is not defined

In [104]:
_, accuracy = model.evaluate(X_test, y_test, verbose=1)
print(accuracy)

ValueError: You must call `compile()` before using the model.

In [13]:
from api_helpers.three_step_pipeline import Matchup_Regressor

team_1_id = 1610612740
team_2_id = 1610612763

Matchup_Regressor(team_1_id, team_2_id)

/home/rohanbendapudi/github_repos/nba_predictor_development/models/api_helpers/three_step_pipeline.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nba_dataframe["NBA_FINALS_APPEARANCE"].fillna(0.0, inplace=True)
/home/rohanbendapudi/github_repos/nba_predictor_development/models/api_helpers/three_step_pipeline.py:61: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  nba_dataframe["NBA_FINALS_APPEARANCE"].replace(

<class 'pandas.core.frame.DataFrame'>
       TEAM_ID SEASON_ID NBA_FINALS_APPEARANCE   FGM   FGA FG_PCT  FG3A   FTM  \
0   1610612764     22022                   0.0  3456  7127  0.485  2601  1442
1   1610612764     22022                   0.0  3456  7127  0.485  2601  1442
1   1610612764     22022                   0.0  3456  7127  0.485  2601  1442
2   1610612764     22022                   0.0  3456  7127  0.485  2601  1442
2   1610612764     22022                   0.0  3456  7127  0.485  2601  1442
..         ...       ...                   ...   ...   ...    ...   ...   ...
47  1610612761     22018                   1.0  3460  7305  0.474  2771  1449
48  1610612761     22018                   1.0  3460  7305  0.474  2771  1449
48  1610612761     22018                   1.0  3460  7305  0.474  2771  1449
49  1610612761     22018                   1.0  3460  7305  0.474  2771  1449
49  1610612761     22018                   1.0  3460  7305  0.474  2771  1449

   OREB  DREB  ... FGM_B FGA_B FG_PCT_B FG3A_B FTM_B OREB_B DREB_B REB_B  \
0   774  2804  ...  3485  7365    0.473   3099  1536    968   2794  3762
1   774  2804  ...  3504  7411    0.473   3306  1364    914   3074  3988
1   774  2804  ...  3504  7411    0.473   3306  1364    914   3074  3988
2   774  2804  ...  3385  7413    0.457   2669  1447    901   2751  3652
2   774  2804  ...  3385  7413    0.457   2669  1447    901   2751  3652
..  ...   ...  ...   ...   ...      ...    ...   ...    ...    ...   ...
47  786  2920  ...  3182  7122    0.447   3002  1541    832   2884  3716
48  786  2920  ...  3301  7358    0.449   2965  1555    900   2919  3819
48  786  2920  ...  3301  7358    0.449   2965  1555    900   2919  3819
49  786  2920  ...  3451  7423    0.465   2829  1282    804   2849  3653
49  786  2920  ...  3451  7423    0.465   2829  1282    804   2849  3653

   AST_B PTS_B
0   2129  9600
1   2115  9589
1   2115  9589
2   2062  9098
2   2062  9098
..   ...   ...
47  1918  8927
48  1954  9204
48  1954  9204
49  2155  9216
49  2155  9216

[69 rows x 26 columns]
       Unnamed: 0  SEASON_ID   TEAM_ID_A TEAM_ABBREVIATION_A  \
47753      191157      22022  1610612764                 WAS
47721      191025      22022  1610612764                 WAS
47730      191055      22022  1610612764                 WAS
47735      191076      22022  1610612764                 WAS
47749      191150      22022  1610612764                 WAS
...           ...        ...         ...                 ...
43442      173860      22018  1610612761                 TOR
43419      173756      22018  1610612761                 TOR
43425      173784      22018  1610612761                 TOR
43415      173748      22018  1610612761                 TOR
43445      173868      22018  1610612761                 TOR

              TEAM_NAME_A   GAME_ID   GAME_DATE    MATCHUP_A WL_A  MIN_A  ...  \
47753  Washington Wizards  22200185  2022-11-12  WAS vs. UTA    W    240  ...
47721  Washington Wizards  22201179  2023-04-04  WAS vs. MIL    L    240  ...
47730  Washington Wizards  22200973  2023-03-05  WAS vs. MIL    L    239  ...
47735  Washington Wizards  22200823  2023-02-08  WAS vs. CHA    W    241  ...
47749  Washington Wizards  22200241  2022-11-20  WAS vs. CHA    W    240  ...
...                   ...       ...         ...          ...  ...    ...  ...
43442     Toronto Raptors  21800069  2018-10-26  TOR vs. DAL    W    239  ...
43419     Toronto Raptors  21800842  2019-02-11  TOR vs. BKN    W    240  ...
43425     Toronto Raptors  21800624  2019-01-11  TOR vs. BKN    W    240  ...
43415     Toronto Raptors  21800909  2019-02-26  TOR vs. BOS    W    241  ...
43445     Toronto Raptors  21800019  2018-10-19  TOR vs. BOS    W    239  ...

       FT_PCT_B  OREB_B  DREB_B  REB_B  AST_B  STL_B  BLK_B  TOV_B  PF_B  \
47753     0.909     7.0    35.0   42.0     33    4.0      3     12    17
47721     0.586    12.0    44.0   56.0     33    6.0      7     18    19
47730     0.773     7.0    38.0   45.0     30    5.0      6     12    15
47735     0.810    12.0    28.0   40.0     23   11.0      5      7    17
47749     0.696    15.0    36.0   51.0     19    5.0      5     13    18
...         ...     ...     ...    ...    ...    ...    ...    ...   ...
43442     0.792    10.0    34.0   44.0     22    6.0      6     14    17
43419     0.722     5.0    26.0   31.0     33    6.0      3     14    18
43425     0.667     9.0    45.0   54.0     20    4.0      4     17    21
43415     0.821    10.0    37.0   47.0     24    6.0      4     14    20
43445     0.700    16.0    33.0   49.0     29    4.0      6     14    27

       PLUS_MINUS_B
47753          -9.0
47721          12.0
47730           6.0
47735         -14.0
47749          -4.0
...             ...
43442          -9.0
43419          -2.0
43425         -17.0
43415         -23.0
43445         -12.0

[69 rows x 54 columns]
   FG_PCT  FG3A   FTM OREB  DREB   REB   AST FG_PCT_B FG3A_B FTM_B OREB_B  \
0   0.485  2601  1442  774  2804  3578  2083    0.473   3099  1536    968
1   0.485  2601  1442  774  2804  3578  2083    0.473   3306  1364    914
1   0.485  2601  1442  774  2804  3578  2083    0.473   3306  1364    914
2   0.485  2601  1442  774  2804  3578  2083    0.457   2669  1447    901
2   0.485  2601  1442  774  2804  3578  2083    0.457   2669  1447    901
..    ...   ...   ...  ...   ...   ...   ...      ...    ...   ...    ...
47  0.474  2771  1449  786  2920  3706  2085    0.447   3002  1541    832
48  0.474  2771  1449  786  2920  3706  2085    0.449   2965  1555    900
48  0.474  2771  1449  786  2920  3706  2085    0.449   2965  1555    900
49  0.474  2771  1449  786  2920  3706  2085    0.465   2829  1282    804
49  0.474  2771  1449  786  2920  3706  2085    0.465   2829  1282    804

   DREB_B REB_B AST_B
0    2794  3762  2129
1    3074  3988  2115
1    3074  3988  2115
2    2751  3652  2062
2    2751  3652  2062
..    ...   ...   ...
47   2884  3716  1918
48   2919  3819  1954
48   2919  3819  1954
49   2849  3653  2155
49   2849  3653  2155

[69 rows x 14 columns]
       FG_PCT_A  FG3_PCT_A  FTM_A  OREB_A  DREB_A  REB_A  AST_A  FG_PCT_B  \
47753     0.500      0.444     17     6.0    40.0   46.0     27     0.468
47721     0.505      0.481     15     9.0    33.0   42.0     30     0.543
47730     0.426      0.258     11    20.0    36.0   56.0     21     0.470
47735     0.506      0.405     15    11.0    41.0   52.0     29     0.419
47749     0.430      0.382     13    14.0    35.0   49.0     19     0.390
...         ...        ...    ...     ...     ...    ...    ...       ...
43442     0.484      0.407     17    12.0    38.0   50.0     23     0.413
43419     0.543      0.290     18     5.0    35.0   40.0     32     0.523
43425     0.457      0.314     15    13.0    42.0   55.0     32     0.420
43415     0.489      0.472      9     8.0    37.0   45.0     33     0.384
43445     0.467      0.371     14    12.0    37.0   49.0     24     0.404

       FG3_PCT_B  FTM_B  OREB_B  DREB_B  REB_B  AST_B
47753      0.350     10     7.0    35.0   42.0     33
47721      0.548     17    12.0    44.0   56.0     33
47730      0.449     17     7.0    38.0   45.0     30
47735      0.290     17    12.0    28.0   40.0     23
47749      0.250     16    15.0    36.0   51.0     19
...          ...    ...     ...     ...    ...    ...
43442      0.400     19    10.0    34.0   44.0     22
43419      0.488     13     5.0    26.0   31.0     33
43425      0.367     20     9.0    45.0   54.0     20
43415      0.200     23    10.0    37.0   47.0     24
43445      0.389      7    16.0    33.0   49.0     29

[69 rows x 14 columns]